

<%= form_with url: sessions_path, local: true do |f|%>

  <ul>
    <li>
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: :off %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
  </ul>

  <%= f.submit "log in" %>

<% end %>