<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if @logged_in %>
            <li>
              Hey, <%= @user.username.upcase %>!
            <li>
            <li>
              <%= form_with session_path, method: :delete, local: true do |f| %>
                <%= f.submit "log out" %>
              <% end %>
            </li>
          <% else %>
          <li>
            <%= link_to "Register", new_user_path %>
          </li>
          <li>
            <%= link_to "Log in", new_session_path %>
          </li>
          <% end %>
        </ul>
      </nav>
      <% if @logged_in %>
      <h2>Votes remaining: <%= @votes %></h2>
      <% end %>
      <% if @message %>
      <div class="message">
        <%= @message %>
      </div>
      <% end %>
      <% if @errors %>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
