<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to "Register", "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %>
          </li>
          <li>
            <%= link_to "Log in", "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %>
          </li>
        </ul>
      </nav>
      <h2>Votes remaining: <%= @votes %></h2>
      <% if @message %>
      <div class="message">
        <%= @message %>
      </div>
      <% end %>
      <% if @errors %>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
